{% extends "notebook.html" %}

{% block header_buttons %}
   <!-- insert appmode loading screen as early as possible -->
  <style>
    {% include 'appmode_top.css' %}
  </style>
  <div id="appmode-loader">
    <img src="{{ base_url + "nbextensions/appmode/gears.svg" }}">
  </div>

  <button id="appmode-leave" class="btn btn-sm navbar-btn btn-default" title="Edit this app as notebook">Edit App</button>

  {{super()}}

{% endblock header_buttons %}

{% block script %}
  {{super()}}
  <!-- overwrite some styles -->
  <style>
    {% include 'appmode_bottom.css' %}
  </style>
{% endblock %}